[Unit]
Description=ttnlogger - converge TTN messages into InfluxDB and MongoDB.
Documentation=https://github.com/daq-tools/ttnlogger
After=network.target

[Service]
User=daemon
Group=daemon
LimitNOFILE=65536
EnvironmentFile=/etc/default/ttnlogger
ExecStart=/opt/ttnlogger/bin/ttnlogger
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=ttnlogger.service
